target/
.idea
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
.vscode/
.DS_Store
.worktrees/
/src/test/resources/data-files/*.json
!/src/test/resources/data-files/regression_*.json
.claude
.mvn/wrapper/maven-wrapper.jar